/*
Write all less code in this file
Import another styles from less files using @import "[NAME_OF_FILE].less"
*/
// Example styles

@import "reset.less";

@bgColor: #16a086;
@divBg: white;
@headerColor: white;
@divText: #444444;
@family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.baseBodyStyles() {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.flex(@direction) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: @direction;
}

body {
  .flex(column);
  .baseBodyStyles();
  background: @bgColor;
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin: 20px 0;
    .header-title {
      color: @headerColor;
      font-size: 25px;
      font-family: @family;
    }
    .header-content {
      color: @headerColor;
      font-family: @family;
      font-size: 14px;
    }
  }
  .flex-row-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 780px;

    .div-wrapper {
      .popup-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          .pop-up {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .pop-up {
          width: 180px;
          height: 50px;
          background: #16a08685;
          position: absolute;
          display: none;
          img {
            height: 25px;
          }
        }
      }

      .name {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
      }

      .role {
        font-style: italic;
        font-size: 13px;
        margin: 6px 0 21px 0;
      }
      .description {
        text-align: left;
        margin: 0 10px;
        line-height: 20px;
        font-size: 15px;
      }
      display: flex;
      font-family: @family;
      flex-direction: column;
      width: 220px;
      height: 420px;
      background: @divBg;
      color: @divText;
      align-items: center;
    }
  }
}
